.today {
    background-color: steelblue;
}

.hidden {
    display: none;
}

.single-item {
    border-style: solid;
    border-color: teal;
}

.dragging {
    border-style: solid;
    background-color:red;
}